# Ignore Maven build output
target/

# TestNG Reports


*.log
screenshots/
ExtentReport/
*.numbers

# ExtentReports





# Ignore Git conflict backup files
*_*BACKUP_*.java
*_*BASE_*.java
*_*LOCAL_*.java
*_*REMOTE_*.java
/bin/
