<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation">
<listeners>
		<listener class-name="com.group3.CRMlistners.TestListner"></listener>
	</listeners>

	
	<test name="OpportunityTest">

		<classes>
			<class name="com.group3.CRMtests.OpportunityTest" />
		</classes>

	</test>

</suite>