<?xml version="1.0" encoding="UTF-8"?>


<suite name="Automation">

	 <parameter name="browser" value="chrome"/>
<listeners>
		<listener class-name="com.group3.CRMlistners.TestListner"></listener>
	</listeners>

	
	<test name="addContacts">

		<classes>
			<class name="com.group3.CRMtests.AddContacts" />
		</classes>

	</test>

</suite>
